<p>test component works!</p>
<p>{{location}}</p>
<input type="text" [id]='id' />
<button (click)="fn($event)"> click</button>
<h1 [ngClass]="clsForCom">{{error}}</h1>

<input type="text" #input />
<button (click)="showValue(input.value)">btn</button>


<input type='text' [(ngModel)]="text" />
<div>
  {{text}}
</div>
<!-- <div *ngIf="show; else elseBlock">
  TEXT
</div> -->

<!-- <ng-template #elseBlock>
  <h2>
    text is hidden
  </h2>
</ng-template> -->


<div *ngIf="show; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <h1>TEXT </h1>
</ng-template>
<ng-template #elseBlock>
  <h2>hidden</h2>
</ng-template>
<button (click)="toggleShow()">{{show?"hide":"show"}}</button>


<ul>
  <li *ngFor="let obj of names;first as f;odd as o">{{f}} {{o}} name: {{obj.name}} id {{obj.id}} </li>
</ul>
